.menu
    width 240px
    height 100vh
    display inline-block
    float left
    padding-top 21px
    padding-left 24px
    padding-right 24px
    position fixed

    overflow hidden
    // position fixed

    font-family: 'Roboto', sans-serif;

    background-color #FFFFFF

    