.project
    width 344px
    min-width 344px
    height 344px
    // height auto
    margin 10px
    // margin-top 10px
    position relative

    border-radius 4px
    background-color #FFFFFF
    // display inline-block
    // float left

    overflow hidden

    font-family 'Roboto', sans-serif

    transition 300ms
