.menu__signOut--active {
  fill: #3997d6;
}
.menu__all--active {
  fill: #3997d6;
}
.menu__important--active {
  fill: #d0021b;
}
.menu__work--active {
  fill: #dd6000;
}
.menu__home--active {
  fill: #b0254b;
}
.menu__lessThreeDays--active {
  fill: #fc0;
}
.menu__done--active {
  fill: #19bf65;
}
.menu__addProject--active {
  fill: #3997d6;
  border-radius: 50%;
  box-shadow: 0px 8px 20px rgba(57,151,214,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.menu__addProject--hover:hover .menu__addProject--active {
  fill: #fff;
  border: solid 1px #3997d6;
  background-color: #3997d6;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  color: #fff;
  transform: translateY(-7px);
}
.menu__addProject--hover:active .menu__addProject--active {
  background-color: #fff;
  border: none;
  fill: #3997d6;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.3);
}
