.addProject {
  width: 400px;
  margin-top: 120px;
  margin-left: 240px;
  position: sticky;
  bottom: 42px;
  transform-origin: left bottom;
  transition: opacity 300ms ease, transform 300ms ease, visibility 300ms ease;
  will-change: transform;
}
