
.addProject--visible
    visibility visible
    opacity 1
    transform scale(1) translateX(0px)

.addProject--hidden
    visibility hidden
    opacity 0
    transform scale(0) translateX(100px)

.menu__addProject--hover
    cursor pointer

//CATEGORY COLOR
//Blue
.addProject__radio:checked + .addProject__icon--blue
    fill #3997D6

//Orange
.addProject__radio:checked + .addProject__icon--orange
    fill #DD6000

//Green
.addProject__radio:checked + .addProject__icon--green
    fill #19BF65

//Purple
.addProject__radio:checked + .addProject__icon--purple
    fill #B0254B

//Yellow
.addProject__radio:checked + .addProject__icon--yellow
    fill #FFCC00

.addProject__error--active
    opacity 1

.addProject__radio--blue
    fill #3997D6

.addProject__radio--orange
    fill #DD6000

.addProject__radio--green
    fill #19BF65

.addProject__radio--purple
    fill #B0254B

.addProject__radio--yellow
    fill #FFCC00

