.menu__signOut--active
    fill #3997D6

.menu__all--active
    fill #3997D6

.menu__important--active
    fill #D0021B

.menu__work--active
    fill #DD6000

.menu__home--active
    fill #B0254B

.menu__hobby--active
    fill #FFCC00

.menu__done--active
    fill #19BF65

.menu__addProject--active
    fill #3997D6
    border-radius 50%
    box-shadow: 0px 8px 20px rgba(57, 151, 214, 0.3);

    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;

.menu__addProject--hover:hover .menu__addProject--active
    fill #FFFFFF
    border solid 1px #3997D6;
    background-color: #3997D6;
    box-shadow 0px 15px 15px 4px rgba(0, 0, 0, 0.1)
    color: #fff;
    transform translateY(-7px)

.menu__addProject--hover:active .menu__addProject--active
    background-color #FFFFFF
    border none
    fill #3997D6
    transform translateY(0px)
    box-shadow 0px 8px 20px rgba(57, 151, 214, 0.3)