.menu__signOut--active
    fill #3997D6

.menu__all--active
    fill #3997D6

.menu__important--active
    fill #D0021B

.menu__work--active
    fill #DD6000

.menu__home--active
    fill #B0254B

.menu__lessThreeDays--active
    fill #FFCC00

.menu__done--active
    fill #19BF65

.menu__addProject--active
    fill #3997D6