
.project__color--blue
    background-color #3997D6

.project__color--orange
    background-color #DD6000

.project__color--green
    background-color #19BF65

.project__color--purple
    background-color #B0254B

.project__color--yellow
    background-color #FFCC00

.project__icon--blue
    fill #3997D6

.project__icon--orange
    fill #DD6000

.project__icon--green
    fill #19BF65

.project__icon--purple
    fill #B0254B

.project__icon--yellow
    fill #FFCC00
