.project__checkbox--notdone
    border 1px solid #EEEEEE
    box-shadow inset 0px 0px 2px 0px rgba(238, 238, 238, 1)

.project__checkbox--done
    border none
    box-shadow none

.project__taskDone--done
    opacity 1

.project__taskDone--notdone
    opacity 0

    transition transform 300ms ease

.project__checkbox--done ~ .project__taskDescription
    text-decoration line-through